<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">
      <h1>{{numero |number }}</h1>
      <h1>{{nombre |titlecase }}</h1>
      <h1>{{persona|json }}</h1>
      
    </div>

    <button 
        pButton 
        (click)="mostrarNombre()"
        label="Cambiar nombre"
        class="p-button-help"
        icon="pi pi-apple"
        iconPos="right"
        >
    </button>
    <p-card 
      [header]="nombre |titlecase"
      subheader="T-Rex"
    
    >
      Adipisicing consectetur cillum do amet est. Amet in amet magna irure tempor eu sunt est do dolor. Occaecat ut duis ex irure cillum. Excepteur labore consectetur ea occaecat aliquip nulla anim fugiat aute laboris ullamco sit ea.
  </p-card>
  
   -->